.probando{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:10px;
}
/*lo de arriba .probando  intentaba entender que es grid
grid o  tabla  yo lo imagino como parrilla 
ademas del centro  y si quieres contenido derecha e izquierda como otro menu  grid es una opcion */

.mi-cuadro{
width:300px;
height:200px;
border:2px solid black;

}


/*quize poner blue pero no me gustaba su tonalidad  */
.fondo_azul{
    background-color:rgb(50, 142, 248);  

}


/*usando flexbox*/
/*centrar lo que sea o directamente en el body (todo) tambien puedes combinarlo si ya tenia  class */
.centrar{
display:flex;
flex-direction:column;
align-items:center;

}